{block content}

    {form signInAdmin class => 'form-signin'}
        <h2 class="form-signin-heading">Please sign in</h2>
        {label username class => 'sr-only' /} {input username class => 'form-control'}
        {label password class => 'sr-only' /} {input password class => 'form-control'}
        {input save class => 'btn btn-lg btn-primary btn-block'}
    {/form}

{/block}