includes:
    - services.neon

parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

database:
    dsn: 'mysql:host=127.0.0.1;dbname=nette-gallery'
    user: root
    password:

doctrine:
    host: localhost
    user: root
    password:
    dbname: nette-gallery
    driver: pdo_mysql
    metadata:
        App: %appDir%/Model

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension

events:
    subscribers:
        - App\Listener\SignInMailerListener
