services:
	router: App\RouterFactory::createRouter
	security.authenticator: App\Model\MyAuthenticator

	cacheStorage:
	    factory: Nette\Caching\Storages\DevNullStorage

	- App\AdminModule\Forms\SignInForm
	- App\AdminModule\Forms\ProductForm
	- App\Model\ProductModel
	- App\Model\GroupModel

	gallery.repo.product:
	    factory: App\Model\Entity\Repository\ProductRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\Product

	gallery.repo.product_group:
	    factory: App\Model\Entity\Repository\ProductGroupRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\ProductGroup

	gallery.repo.group:
	    factory: App\Model\Entity\Repository\GroupRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\Group

