services:
	router: App\RouterFactory::createRouter
	security.authenticator: App\Model\MyAuthenticator

	- App\AdminModule\Forms\SignInForm
	- App\AdminModule\Forms\ProductForm
	- App\Model\ProductModel

	gallery.repo.product:
	    class: App\Model\Entity\Repository\ProductRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\Product

	gallery.repo.product_group:
	    class: App\Model\Entity\Repository\ProductGroupRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\ProductGroup

	gallery.repo.group:
	    class: App\Model\Entity\Repository\GroupRepository
	    tags:
	        doctrine.repositoryEntity: App\Model\Entity\Group

#	gallery.form.product:
#	    class: App\AdminModule\Forms\ProductForm
#	    tags:
#	        - App\Model\Entity\Repository\GroupRepository