<div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            {*<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>*}
            <li><a n:href="Product:new">Product</a></li>
            <li><a href="#">Product's Group</a></li>
            <li><a n:href=":Admin:Sign:out">LogOut</a></li>
        </ul>
</div>